@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', 'sans-serif';
}
.container {
  width: 90%;
  margin: 0 auto;
  .logotext {
    font-size: 25px;
    font-weight: 600;
    span {
      color: #83370e;
    }
  }
  .switcher {
    display: none;
    @media screen and (max-width: 1000px) {
      display: block;
    }
  }
}

header {
  background-color: #fef6f1;
  nav {
    // height: 60px;
    padding: 20px 0px;
    justify-content: center;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .links {
      display: flex;
      justify-content: space-between;
      list-style: none;
      width: 55%;
      font-size: 16px;
      font-weight: 400;
      align-items: center;

      button {
        background-color: #190e2c;
        color: #fff;
        padding: 10px 30px;
        border-radius: 10px;
        border: 0;
      }

      ul {
        justify-content: space-between;
        display: flex;
        width: 50%;
        list-style: none;
        li {
          list-style-type: none;
        }
      }

      @media screen and (max-width: 1000px) {
        display: none;
      }
    }
  }
}
@media screen and (max-width: 1000px) {
  header {
    nav {
      ul {
        line-height: 35px;
        list-style: none;
        position: absolute;
        top: 0px;
        right: 98px;
        background-color: white;
        padding: 13px 66px;
        button {
          color: #190e2c;
          border-radius: 10px;
          border: 1px solid #190e2c;
          padding: 2px 5px;
        }
      }
    }
  }
}

.firstSection {
  display: flex;
  align-items: center;
  padding-bottom: 30px;
  .text {
    align-content: center;
    justify-content: center;
    h2 {
      font-size: 55px;
      padding-top: 20px;

      span {
        color: #a44512;
      }
    }
    p {
      font-size: 15px;
      font-weight: 300;
      padding: 40px 0px;
      width: 80%;
    }
    .btns {
      justify-content: space-between;
      display: flex;
      width: 250px;
      height: 40px;
      button {
        align-items: center;
        justify-content: space-between;
        display: flex;
        font-size: 13px;
        border: 0;
        background-color: #190e2c;
        color: #fff;
        padding: 10px 20px;
        border-radius: 5px;
      }
      .learnbtn {
        background-color: #fff;
        color: #190e2c;
        border-radius: 10px;
        border: 1px solid #190e2c;
      }
    }
  }
  .building {
    padding: 20px 0px;
    width: 50%;
    img {
      width: 40vw;
    }
  }
}
@media screen and (max-width: 1000px) {
  .firstSection {
    display: flex;
    align-items: center;
    .text {
      align-content: center;
      justify-content: center;
      h2 {
        padding-top: 20px;
        font-size: 35px;
        span {
          color: #a44512;
        }
      }
      p {
        font-size: 12px;
        font-weight: 300;
        padding: 40px 0px;
        width: 100%;
      }
      .btns {
        justify-content: space-between;
        display: flex;
        height: 40px;
        gap: 20px;
        button {
          align-items: center;
          justify-content: center;
          display: flex;
          font-size: 13px;
          border: 0;
          background-color: #190e2c;
          color: #fff;
          padding: 10px 20px;
          border-radius: 5px;
        }
        .learnbtn {
          background-color: #fff;
          color: #190e2c;
          border-radius: 5px;
          border: 1px solid #190e2c;
        }
      }
    }
    .building {
      padding: 20px 0px;
      width: 50%;
      img {
        display: none;
      }
    }
  }
}
.sec2{
    background-color: #fdf2ed;
    .secondSection {
      min-height: 500px;
      display: flex;
      align-items: center;
      padding-bottom: 30px;
      .image {
        width: 40%;
        img {
          width: 400px;
          padding: 20px 0px;
        }
      }
      .text {
        align-content: center;
        justify-content: center;
        padding-left: 30px;
        h2 {
          font-size: 55px;
          padding-top: 20px;
    
          span {
            color: #a44512;
          }
        }
        p {
          font-size: 15px;
          font-weight: 300;
          padding: 40px 0px;
          width: 80%;
        }
        .btns {
            justify-content: space-between;
            display: flex;
            width: 250px;
            height: 40px;
            button {
              align-items: center; 
              justify-content: space-between;
              display: flex;
              font-size: 13px;
              border: 0;
              background-color: #190e2c;
              color: #fff;
              padding: 10px 20px;
              border-radius: 5px;
            }
            .learnbtn {
              background-color: #fff;
              color: #190e2c;
              border-radius: 10px;
              border: 1px solid #190e2c;
            }
          }
      }
    }
}

