@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', 'sans-serif';
}

.container {
  width: 90%;
  margin: 0 auto;
}

.container .logotext {
  font-size: 25px;
  font-weight: 600;
}

.container .logotext span {
  color: #83370e;
}

.container .switcher {
  display: none;
}

@media screen and (max-width: 1000px) {
  .container .switcher {
    display: block;
  }
}

header {
  background-color: #fef6f1;
}

header nav {
  padding: 20px 0px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header nav .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  width: 55%;
  font-size: 16px;
  font-weight: 400;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .links button {
  background-color: #190e2c;
  color: #fff;
  padding: 10px 30px;
  border-radius: 10px;
  border: 0;
}

header nav .links ul {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  list-style: none;
}

header nav .links ul li {
  list-style-type: none;
}

@media screen and (max-width: 1000px) {
  header nav .links {
    display: none;
  }
}

@media screen and (max-width: 1000px) {
  header nav ul {
    line-height: 35px;
    list-style: none;
    position: absolute;
    top: 0px;
    right: 98px;
    background-color: white;
    padding: 13px 66px;
  }
  header nav ul button {
    color: #190e2c;
    border-radius: 10px;
    border: 1px solid #190e2c;
    padding: 2px 5px;
  }
}

.firstSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 30px;
}

.firstSection .text {
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.firstSection .text h2 {
  font-size: 55px;
  padding-top: 20px;
}

.firstSection .text h2 span {
  color: #a44512;
}

.firstSection .text p {
  font-size: 15px;
  font-weight: 300;
  padding: 40px 0px;
  width: 80%;
}

.firstSection .text .btns {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 250px;
  height: 40px;
}

.firstSection .text .btns button {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 13px;
  border: 0;
  background-color: #190e2c;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
}

.firstSection .text .btns .learnbtn {
  background-color: #fff;
  color: #190e2c;
  border-radius: 10px;
  border: 1px solid #190e2c;
}

.firstSection .building {
  padding: 20px 0px;
  width: 50%;
}

.firstSection .building img {
  width: 40vw;
}

@media screen and (max-width: 1000px) {
  .firstSection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .firstSection .text {
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .firstSection .text h2 {
    padding-top: 20px;
    font-size: 35px;
  }
  .firstSection .text h2 span {
    color: #a44512;
  }
  .firstSection .text p {
    font-size: 12px;
    font-weight: 300;
    padding: 40px 0px;
    width: 100%;
  }
  .firstSection .text .btns {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 40px;
    gap: 20px;
  }
  .firstSection .text .btns button {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 13px;
    border: 0;
    background-color: #190e2c;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
  }
  .firstSection .text .btns .learnbtn {
    background-color: #fff;
    color: #190e2c;
    border-radius: 5px;
    border: 1px solid #190e2c;
  }
  .firstSection .building {
    padding: 20px 0px;
    width: 50%;
  }
  .firstSection .building img {
    display: none;
  }
}

.sec2 {
  background-color: #fdf2ed;
}

.sec2 .secondSection {
  min-height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 30px;
}

.sec2 .secondSection .image {
  width: 40%;
}

.sec2 .secondSection .image img {
  width: 400px;
  padding: 20px 0px;
}

.sec2 .secondSection .text {
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 30px;
}

.sec2 .secondSection .text h2 {
  font-size: 55px;
  padding-top: 20px;
}

.sec2 .secondSection .text h2 span {
  color: #a44512;
}

.sec2 .secondSection .text p {
  font-size: 15px;
  font-weight: 300;
  padding: 40px 0px;
  width: 80%;
}

.sec2 .secondSection .text .btns {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 250px;
  height: 40px;
}

.sec2 .secondSection .text .btns button {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 13px;
  border: 0;
  background-color: #190e2c;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
}

.sec2 .secondSection .text .btns .learnbtn {
  background-color: #fff;
  color: #190e2c;
  border-radius: 10px;
  border: 1px solid #190e2c;
}
/*# sourceMappingURL=styles.css.map */